main{
    width: auto;
    height: 700px;
    background-image: url(../assets/Background_Intro.png);
    background-position: center center;
    background-size: cover;
}

#text{
    text-align: center;

}

#tags{
    ul{
        justify-content: center;
    }

    li{
        list-style-type: none;

    }

}