#projects{
    grid-template-rows: 80px repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);

    max-width: 1000px;
    margin: auto;
    margin-bottom: 100px;

    gap: 24px;

    header{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        
        grid-area: 1 / 1 / 2 / -1;
    }
}

#project-card{
    max-width: 330px;
    max-height: 280px;
    border-radius: 20px;
    background-color: var(--gray-400);

    .travelgram{
        background-image: url(../assets/Thumbnail_Project-01.png);
    }

    .redes-sociais{
        background-image: url(../assets/Thumbnail_Project-02.png);
    }
    
    .pagina-receita{
        background-image: url(../assets/Thumbnail_Project-03.png);
    }
    
    .pagina-turismo{
        background-image: url(../assets/Thumbnail_Project-06.png);
    }

    #project-image{
        background-size: cover;
        margin: 8px auto 8px auto;
        border-radius: 10px;
        padding: 20px;
        width: 305px;
        height: 156px;
    }

    h1{
        font: var(--title-sm);
        color: var(--gray-100);
        padding: 13px
    }
    p {
        font: var(--text-sm-pro);
        color: var(--gray-200);
        padding-block: 8px;
        padding-inline: 13px;
    }
}